# Copy this file to .env for local development. Do not commit .env.
CLOUDDISK_DB_URL=
CLOUDDISK_JWT_SECRET=
CLOUDDISK_AUTH_PORT=
CLOUDDISK_CONSUL_URL=
CLOUDDISK_AUTH_ADVERTISE_ADDRESS=
CLOUDDISK_AUTH_INSTANCE_ID=
CLOUDDISK_OSS_ENDPOINT=
CLOUDDISK_OSS_ACCESS_KEY_ID=
CLOUDDISK_OSS_ACCESS_KEY_SECRET=
CLOUDDISK_OSS_REGION=
CLOUDDISK_AMQP_URI=
